@using Microsoft.AspNetCore.Components.Routing


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <h3>Pagina non trovata</h3>
    </NotFound>
</Router>
