@page "/map"

<h3>Mappa Interattiva</h3>
<div id="map" style="height: 400px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "import('/js/map.js')");
        }
    }

    [Inject] IJSRuntime JS { get; set; }
}
