@page "/map"
@using Microsoft.JSInterop

<h3>Mappa Interattiva</h3>
<div id="map" style="height: 500px;" class="rounded shadow"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "import('/js/map.js')");
        }
    }

    [Inject] IJSRuntime? JS { get; set; }
}
