@model IEnumerable<TravelAppHybrid.Models.Trip>

<h2>Lista Viaggi</h2>

<a class="btn btn-success mb-4" href="/Trips/Create"> 
    <i class="bi bi-plus-circle"></i> Nuovo Viaggio 
</a>

<div class="row row-cols-1 row-cols-md-2 g-4"> 
@foreach (var t in Model) { 
    <div class="col"> 
        <div class="card shadow-sm" data-aos="fade-up">
            <div class="card-body"> 
                <h5 class="card-title">@t.Destination</h5> 
                <p class="card-text"> Dal: @t.StartDate.ToShortDateString()
                    <br /> Al: @t.EndDate.ToShortDateString() </p> 
                    <div class="d-flex justify-content-between"> 
                    <a class="btn btn-outline-primary btn-sm" href="/Trips/Edit/@t.Id">Modifica</a> 
                    <a class="btn btn-outline-danger btn-sm" href="/Trips/Delete/@t.Id" onclick="return confirm('Eliminare questo viaggio?');">Elimina</a> 
                    <a class="btn btn-outline-secondary btn-sm" href="/Trips/DownloadPdf/@t.Id"> 
                        <i class="bi bi-file-earmark-pdf"></i> 
                        </a> 
                    </div> 
                </div> 
        </div> 
    </div> } 
</div>